--
-- PostgreSQL database dump
--

\restrict R7Rc0IqzSgoqvWVYfe4SmrOdH15KGLUlKNgXG6SzYyRSGUrpRGgWqU8ad0ygHeB

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: announcement_scope; Type: TYPE; Schema: public; Owner: sajagadmin
--

CREATE TYPE public.announcement_scope AS ENUM (
    'national',
    'state'
);


ALTER TYPE public.announcement_scope OWNER TO sajagadmin;

--
-- Name: user_role; Type: TYPE; Schema: public; Owner: sajagadmin
--

CREATE TYPE public.user_role AS ENUM (
    'training_partner',
    'sdma_admin',
    'ndma_admin',
    'auditor'
);


ALTER TYPE public.user_role OWNER TO sajagadmin;

--
-- Name: user_status; Type: TYPE; Schema: public; Owner: sajagadmin
--

CREATE TYPE public.user_status AS ENUM (
    'pending',
    'active',
    'rejected'
);


ALTER TYPE public.user_status OWNER TO sajagadmin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: announcements; Type: TABLE; Schema: public; Owner: sajagadmin
--

CREATE TABLE public.announcements (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying(255) NOT NULL,
    content text NOT NULL,
    scope public.announcement_scope NOT NULL,
    state character varying(100),
    creator_user_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.announcements OWNER TO sajagadmin;

--
-- Name: assessments; Type: TABLE; Schema: public; Owner: sajagadmin
--

CREATE TABLE public.assessments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying(255) NOT NULL,
    training_theme character varying(100) NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.assessments OWNER TO sajagadmin;

--
-- Name: options; Type: TABLE; Schema: public; Owner: sajagadmin
--

CREATE TABLE public.options (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    question_id uuid NOT NULL,
    option_text character varying(255) NOT NULL,
    is_correct boolean DEFAULT false NOT NULL
);


ALTER TABLE public.options OWNER TO sajagadmin;

--
-- Name: participant_submissions; Type: TABLE; Schema: public; Owner: sajagadmin
--

CREATE TABLE public.participant_submissions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    training_id uuid NOT NULL,
    participant_email character varying(255) NOT NULL,
    assessment_id uuid NOT NULL,
    score numeric(5,2) NOT NULL,
    submitted_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.participant_submissions OWNER TO sajagadmin;

--
-- Name: questions; Type: TABLE; Schema: public; Owner: sajagadmin
--

CREATE TABLE public.questions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    assessment_id uuid NOT NULL,
    question_text text NOT NULL,
    question_order integer
);


ALTER TABLE public.questions OWNER TO sajagadmin;

--
-- Name: training_photos; Type: TABLE; Schema: public; Owner: sajagadmin
--

CREATE TABLE public.training_photos (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    training_id uuid NOT NULL,
    image_url character varying(255) NOT NULL,
    uploaded_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.training_photos OWNER TO sajagadmin;

--
-- Name: trainings; Type: TABLE; Schema: public; Owner: sajagadmin
--

CREATE TABLE public.trainings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying(255) NOT NULL,
    theme character varying(100) NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    location_text character varying(255) NOT NULL,
    latitude numeric(9,6),
    longitude numeric(9,6),
    creator_user_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.trainings OWNER TO sajagadmin;

--
-- Name: user_announcement_views; Type: TABLE; Schema: public; Owner: sajagadmin
--

CREATE TABLE public.user_announcement_views (
    user_id uuid NOT NULL,
    announcement_id uuid NOT NULL,
    viewed_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_announcement_views OWNER TO sajagadmin;

--
-- Name: users; Type: TABLE; Schema: public; Owner: sajagadmin
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role public.user_role NOT NULL,
    organization_name character varying(255),
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    status public.user_status DEFAULT 'pending'::public.user_status NOT NULL,
    state character varying(100),
    document_url character varying(255)
);


ALTER TABLE public.users OWNER TO sajagadmin;

--
-- Data for Name: announcements; Type: TABLE DATA; Schema: public; Owner: sajagadmin
--

COPY public.announcements (id, title, content, scope, state, creator_user_id, created_at) FROM stdin;
ce02c557-ea10-4516-8821-eacd3822907a	hi guys	boom	national	\N	5f617852-1ba6-4ac1-8086-ef5222eae408	2025-10-15 18:24:15.296825+00
f8cb8e64-b1e6-4cac-985c-5e51ed8e1eef	cxvxv	xcvxv	state	Delhi	67b9e61e-1f73-452c-8a4c-599b9c159dec	2025-10-19 13:29:24.731414+00
9eff9a15-3b3d-4763-a292-59f45f44bcbd	gdfgdf	gdgfdg	national	\N	5f617852-1ba6-4ac1-8086-ef5222eae408	2025-10-19 13:32:16.65897+00
\.


--
-- Data for Name: assessments; Type: TABLE DATA; Schema: public; Owner: sajagadmin
--



--
-- Data for Name: options; Type: TABLE DATA; Schema: public; Owner: sajagadmin
--



--
-- Data for Name: participant_submissions; Type: TABLE DATA; Schema: public; Owner: sajagadmin
--



--
-- Data for Name: questions; Type: TABLE DATA; Schema: public; Owner: sajagadmin
--



--
-- Data for Name: training_photos; Type: TABLE DATA; Schema: public; Owner: sajagadmin
--

COPY public.training_photos (id, training_id, image_url, uploaded_at) FROM stdin;
b61eb585-5b04-4d9a-b553-939ff15b7fa9	3178fe47-fdce-462e-8051-5a6e370c3a4f	/uploads/b8fe73a90545e5a294e1b347e5d71fa9	2025-10-18 18:53:30.705842+00
\.


--
-- Data for Name: trainings; Type: TABLE DATA; Schema: public; Owner: sajagadmin
--



--
-- Data for Name: user_announcement_views; Type: TABLE DATA; Schema: public; Owner: sajagadmin
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: sajagadmin
--



--
-- Name: announcements announcements_pkey; Type: CONSTRAINT; Schema: public; Owner: sajagadmin
--

ALTER TABLE ONLY public.announcements
    ADD CONSTRAINT announcements_pkey PRIMARY KEY (id);


--
-- Name: assessments assessments_pkey; Type: CONSTRAINT; Schema: public; Owner: sajagadmin
--

ALTER TABLE ONLY public.assessments
    ADD CONSTRAINT assessments_pkey PRIMARY KEY (id);


--
-- Name: assessments assessments_training_theme_key; Type: CONSTRAINT; Schema: public; Owner: sajagadmin
--

ALTER TABLE ONLY public.assessments
    ADD CONSTRAINT assessments_training_theme_key UNIQUE (training_theme);


--
-- Name: options options_pkey; Type: CONSTRAINT; Schema: public; Owner: sajagadmin
--

ALTER TABLE ONLY public.options
    ADD CONSTRAINT options_pkey PRIMARY KEY (id);


--
-- Name: participant_submissions participant_submissions_pkey; Type: CONSTRAINT; Schema: public; Owner: sajagadmin
--

ALTER TABLE ONLY public.participant_submissions
    ADD CONSTRAINT participant_submissions_pkey PRIMARY KEY (id);


--
-- Name: participant_submissions participant_submissions_training_id_participant_email_key; Type: CONSTRAINT; Schema: public; Owner: sajagadmin
--

ALTER TABLE ONLY public.participant_submissions
    ADD CONSTRAINT participant_submissions_training_id_participant_email_key UNIQUE (training_id, participant_email);


--
-- Name: questions questions_pkey; Type: CONSTRAINT; Schema: public; Owner: sajagadmin
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_pkey PRIMARY KEY (id);


--
-- Name: training_photos training_photos_pkey; Type: CONSTRAINT; Schema: public; Owner: sajagadmin
--

ALTER TABLE ONLY public.training_photos
    ADD CONSTRAINT training_photos_pkey PRIMARY KEY (id);


--
-- Name: trainings trainings_pkey; Type: CONSTRAINT; Schema: public; Owner: sajagadmin
--

ALTER TABLE ONLY public.trainings
    ADD CONSTRAINT trainings_pkey PRIMARY KEY (id);


--
-- Name: user_announcement_views user_announcement_views_pkey; Type: CONSTRAINT; Schema: public; Owner: sajagadmin
--

ALTER TABLE ONLY public.user_announcement_views
    ADD CONSTRAINT user_announcement_views_pkey PRIMARY KEY (user_id, announcement_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: sajagadmin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: sajagadmin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: announcements announcements_creator_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sajagadmin
--

ALTER TABLE ONLY public.announcements
    ADD CONSTRAINT announcements_creator_user_id_fkey FOREIGN KEY (creator_user_id) REFERENCES public.users(id);


--
-- Name: options options_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sajagadmin
--

ALTER TABLE ONLY public.options
    ADD CONSTRAINT options_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(id) ON DELETE CASCADE;


--
-- Name: participant_submissions participant_submissions_assessment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sajagadmin
--

ALTER TABLE ONLY public.participant_submissions
    ADD CONSTRAINT participant_submissions_assessment_id_fkey FOREIGN KEY (assessment_id) REFERENCES public.assessments(id);


--
-- Name: participant_submissions participant_submissions_training_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sajagadmin
--

ALTER TABLE ONLY public.participant_submissions
    ADD CONSTRAINT participant_submissions_training_id_fkey FOREIGN KEY (training_id) REFERENCES public.trainings(id);


--
-- Name: questions questions_assessment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sajagadmin
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_assessment_id_fkey FOREIGN KEY (assessment_id) REFERENCES public.assessments(id) ON DELETE CASCADE;


--
-- Name: training_photos training_photos_training_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sajagadmin
--

ALTER TABLE ONLY public.training_photos
    ADD CONSTRAINT training_photos_training_id_fkey FOREIGN KEY (training_id) REFERENCES public.trainings(id) ON DELETE CASCADE;


--
-- Name: trainings trainings_creator_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sajagadmin
--

ALTER TABLE ONLY public.trainings
    ADD CONSTRAINT trainings_creator_user_id_fkey FOREIGN KEY (creator_user_id) REFERENCES public.users(id);


--
-- Name: user_announcement_views user_announcement_views_announcement_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sajagadmin
--

ALTER TABLE ONLY public.user_announcement_views
    ADD CONSTRAINT user_announcement_views_announcement_id_fkey FOREIGN KEY (announcement_id) REFERENCES public.announcements(id) ON DELETE CASCADE;


--
-- Name: user_announcement_views user_announcement_views_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sajagadmin
--

ALTER TABLE ONLY public.user_announcement_views
    ADD CONSTRAINT user_announcement_views_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict R7Rc0IqzSgoqvWVYfe4SmrOdH15KGLUlKNgXG6SzYyRSGUrpRGgWqU8ad0ygHeB

